
    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }
    div, input, form, a, img {
        box-sizing: border-box;
    }
    #container {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    #menu {
        margin: 10px 0;
    }
    .botao {
        display: inline-block;
        font-size: 17px;
        padding: 10px;
        border-radius: 5px;
        background: #47972C;
        color: #FFF;
        text-decoration: none;
        border: none;
        margin: 5px;
        cursor: pointer;
    }
    .botao.-ativo {
        background: #8BB939;
        font-weight: bold;
    }
    .botao.-cinza {
        background: #737373;
    }
    .botao.-cinzaclaro {
        background: #D2D2D2;
        color: #000;
        font-weight: bold;
    }
    .botao.-vermelho {
        background: #9B0008;
    }
    .botao.-direita {
        float: right;
    }
    .botao.-negrito {
        font-weight: 900;
    }

    form > h2 {
        padding: 10px;
    }

    form > .container {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        padding: 10px;
    }
    .campo {
        flex-grow: 1;
        padding: 10px;
    }
    .campo label {
        font-weight: bold;
    }
    .campo input {
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #B4B4B4;
        background: #D2D2D2;
    }
    .campo.botao input {
        cursor: pointer;
    }
    .campo.botao little {
        display: block;
        font-weight: lighter;
    }
